//tüm dosyalrı toplayıp tek css haline getirmeek
@import 'bootstrap-override';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'style'; 

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;700&family=Mulish:wght@300;400&display=swap');
/*  font-family: 'Mulish', sans-serif; */


*{
    font-family: 'Cormorant SC', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* text-transform: capitalize; */
}
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 white; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #97DBAE; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #97DBAE; 
  }

html{
    overflow-x: hidden;
}

/* Header */
header .header,header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    z-index: 1000;
}

header .header .logo{
    font-size:2rem ;
    color:$light ;
}


header .header .form-container form{
display: flex;
}

header .header .form-container form #search{
    height: 3rem;
    width: 25rem;
    outline: none;
    border: 3px solid $light ;
    font-size: 1rem;
    padding: 0 1rem;  
}

header .header .form-container form #search:focus{
    color: #C3E5AE;
}

header .header .form-container form label{
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    cursor: pointer;
    background: $light;
    color: white;
}

header .header .form-container form label:hover{
    background:white ;
    color: $light;
    
}

/*Dropdown Menu */
.dropdown-menu{
  background-color: $light;
}

.dropdown-item:hover{
background-color: #F1E1A6;
}



/* Footer */
footer{
  background-color:#F4BBBB ;
  color: white;
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  
}


.container p {
  font-size: 18px;
}

 .about{
  //flex-grow: Bir öğeyi diğerlerine göre daha büyük göstermek için bu özelliği kullanıyoruz.
  flex-grow: 1;
  //flex basis: eğer alanı yetiyorsa olması gereken genişliği belirlemek için kullanılır.
  flex-basis: 100%;

}
.about h2{
  margin-top: -12px;
}

 .services{
  flex-grow: 1;
  flex-basis: 100%;
}

.services h2{
  margin-top: -12px;
}
.services ul{
  list-style-type: none;
  //line-height: 1.2;
  color: white;
}

.services ul li a{
  //color: red;
  text-decoration: none;
}

.services ul li a:hover{
  color: $light;
}

 .contact{
  
  flex-grow: 1;
  flex-basis: 100%;
}

.contact ul{
  list-style-type: none;
}

.contact ul li a{
  color: white;
  font-size: 1.2rem;
}


.contact ul li a:hover{
  color: $light;
}

.copyright{
  padding: 15px;
  text-align: center;
  font-size: 15px;
}

//card
.card-footer{
  background-color: #F1E1A6;
}

.card-title{
  color: #F1E1A6;
}

.card-footer-link{
  color: black;
  background-color: #F1E1A6;
  text-decoration: none;
}

.card-footer-link:hover{
border: solid 1px #F1E1A6;
}






/* Meadia Queries */
@media (max-width:768px){
    html{
        font-size: 90%;
    }
    header .header .form-container form #search{
        width: 100%;
    }
    

    //footer
    .container{
      flex-direction: column;
    }


  }
@media (max-width:468px){
    header .header{
        flex-flow: column;
        padding: 2rem;
    }

    header .header .logo{
        padding: 1rem;
    }

     //footer
    .about, .services{
      padding-top: 15px;
    }
    
}

